<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Editar autor <%= autor.alias %></h1>
  <form action="/autores/editar" method="post">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre">
    </div>
    <div>
      <label for="alias">Alias</label>
      <input type="text" name="alias" id="alias">
    </div>
    <div>
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input type="text" name="fechaNacimiento" id="fechaNacimiento">
    </div>
    <div>
      <button type="submit">Guardar</button>
    </div>
  </form>
</body>
</html>