<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My app Biblioteca</h1>
  <a href="/autores/">Gestionar autores</a>
  <a href="#">Gestionar libros</a>
  <a href="#">Gestionar miembros</a>
  <a href="#">Gestionar prestamos</a>
</body>
</html>